

@media (max-width: 993px){
    .free{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 268px){
    main p{
        width: 201px;
    }
}

@media (max-width: 492px){
    main p{
        width: 201px;
    }
}